{% extends 'base/base.html' %}
{% block block_content %}

    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ssttrano</title>
        <link rel="stylesheet" href='{% static '/css/style4.css' %}'>
    </head>

         <section class="card-box">
                <div class="row-form-errors">
                    <img src="{{ object.image.url }}" height="500 %" alt="#">
                </div>
         </section>

        <section class="card-box">
        <fieldset>
        <div class="albumInfo">
                <div class="profileText">
                     <div class="albumText">
                        <!-- Album Info -->
                        <h1>Name: {{ object.name }}</h1>
                        <h2>Price: ${{ object.price|floatformat:2 }}</h2>
                        <h3>Remains: {{ object.remains }}</h3>
                        <div>Info: <p>{{ object.product_info }}</p></div>
                        <div class="actionBtn">
{#                            <a href="{% url 'delete product' object.pk %}" class="remove">Purchase</a>#}
                            <a href="#" class="remove">Purchase</a>
                        </div>
                         <div class="actionBtn">
{#                            <a href="{% url 'delete product' object.pk %}" class="remove">Purchase</a>#}
                            <a href="{% url 'all comment' object.id %}" class="remove">Comments</a>
                        </div>
                    </div>
                </div>
        </div>
        </fieldset>
        </section>
    <div class="parallax_1">

    </div>
        <div class="content_1">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
        </div>

    <div class="parallax_2"></div>
    <div class="content_2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
    </div>
    </html>

{% endblock %}