{% extends 'base/base.html' %}
{% block block_content %}

    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ssttrano</title>
        <link rel="stylesheet" href='{% static '/css/style6.css' %}'>
    </head>
    <section id="detailsPage">
         <section class="card-box">
                <div class="row-form-errors">
                    <img src="{{ object.picture.url }}" height="400" alt="#">
                </div>


            <div class="actionBtn">

                    <!-- Button for Deleting the Profile -->
                    <a href="{% url 'edit profile' request.user.id %}" class="remove">Edit</a>
                    <a href="{% url 'change password' request.user.id %}" class="remove">Password</a>
                    <a href="{% url 'profile delete' request.user.id %}" class="remove">Delete</a>
            </div>

         </section>
        <section class="card-box">
        <div class="albumInfo">
                <div class="profileText">
                    <ul>
                        <!-- Profile Info -->
                        <h1>Username: {{ object.first_name }}</h1>
                        <h1>Email: {{ object.email }}</h1>
                        <h1>Date_of_birth: {{ object.date_of_birth }}</h1>
                        <h1>Text: {{ object.description }}</h1>
                        <h1>Email: {{ object.email }}</h1>
                        <h1>Gender: {{ object.gender }}</h1>
                    </ul>
                </div>
        </div>
        </section>
    </section>
    <div class="parallax_1">

    </div>
        <div class="content_1">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
        </div>
    </div>
    <div class="parallax_2"></div>
    <div class="content_2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
    </div>
    </html>

{% endblock %}