{% extends 'base/base.html' %}
{% block blok_content %}

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                {% for profile in profiles %}
                    <h2>
                        {{ profile.ful_name }}
                        <img src="{{ profile.image_url }}" />
                    </h2>
                    <p>Age: {{ profile.age }}</p>
                    <div>
                        <p>All notes: {{ all_notes }}</p>
                    </div>
                    <div class="right">
                        <a class="button delete" href="{% url 'delete profile' %}">Delete</a>
                    </div>
                {% endfor %}
            </div>
            <!--end profile details container-->
        </div>
{% endblock %}