{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% block block_content %}

    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ssttrano</title>
        <link rel="stylesheet" href='{% static '/css/style3.css' %}'>
    </head>

    <div class="parallax_1">
       <section class="editPage">
            <form method="POST" action="{% url 'edit profile' request.user.id %}">
                <fieldset>
                    <legend>Edit Your Profile</legend>
                    <div class="container">

                        {{ form|crispy }}
                        {% csrf_token %}

                        <!-- Button for Editing Album -->
                        <button class="edit-album" type="submit">Edit Your Profile</button>
                    </div>
                </fieldset>
            </form>
        </section>

        <div class="content_1">


            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
        </div>
    </div>
    <div class="parallax_2"></div>
    <div class="content_2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus. Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam vero laudantium, voluptas odio ullam.</p>
    </div>
    </html>

{% endblock %}